<section class="wrapper">

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card chart">
       <app-pie-chart></app-pie-chart>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card my-3 my-md-0">
        <div class="card-header bg-light">Header</div>
        <div class="card-body">
          <h5 class="card-title">title</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Click Here</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="card">
        <div class="card-header bg-light">Header</div>
        <div class="card-body">
          <h5 class="card-title">Special title</h5>
          <p class="card-text">Text brief and demo will appear here.</p>
          <a href class="btn btn-primary">Click Here</a>
        </div>
      </div>
    </div>
    <div class="col-12 my-3">
      <app-drilldown-chart></app-drilldown-chart>
    </div>
  </div>

</section>
